<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpeu.oa.dao.ProblemDao">

    <select id="getAll" resultType="com.hpeu.oa.entity.Problem">
        select id,name,content,que_date queDate from problem
    </select>

</mapper>